<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
	<add key="repositoryPath" value="Core\packages" />
  </config>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>

  <packageSources>
    <add key="Geofield" value="https://pkgs.dev.azure.com/amtsybex1/_packaging/Geofield/nuget/v3/index.json" />
    <add key="https://www.nuget.org/api/v2/" value="https://www.nuget.org/api/v2/" />
  </packageSources>
  <disabledPackageSources />
</configuration>